html, body {
  margin: 0;
  padding: 0;
  color: white;
  background: rgb(60, 149, 165);
}

h1 {
  text-align: center;
}

main {
  margin: 0 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

header nav ul {
  display: flex;
  margin-top: 30px;
}

header nav ul li {
  list-style-type: none;
  margin: 0 10px;
}

header nav ul li a {
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

form input, form textarea {
  margin: 3px 0;
  border-radius: 3px;
  border: 1px solid white;
  padding: 10px;
}

form textarea {
  resize: none;
  height: 100px
} 

form button {
  width: 25%;
  margin: 5px auto;
  border-radius: 3px;
  border: 1px solid white;
  padding: 3px;
}

.card {
  background: white;
  color: rgb(60, 149, 165);
  width: 400px;
  text-align: center;
  border-radius: 10px;
}

.projects {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-gap: 20px;
}

.card img {
  width: 100%;
  border-radius: 10px 10px 0px 0px ;
}

.card button {
  margin-bottom: 30px;
}

.education {
  display: flex;
  justify-content: space-between;
}

.resume h1 {
  text-align: left;
  color: rgb(255, 255, 255);
}

.resume p {
  color: rgb(190, 190, 190);
}

.resume ul li {
  color: rgb(190, 190, 190);
}